/* fonts */
@font-face {
    font-family: 'figextrabold';
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
    font-family: 'figmedium';
    src: url(./assets/fonts/static/Figtree-Medium.ttf);
}

/* general */

body {
    background-color: hsl(47, 88%, 63%);
}

main {
    background-color: white;
    width: 350px;
    max-width: 100%;
    padding: 20px;
    margin: auto;
    border-radius: 15px;
    border: 1px solid black;
}

/* text */

h1 {
    font-family: 'figextrabold';
    font-size: 24px;
}

p {
    font-family: 'figmedium';
    font-size: 14px;
    line-height: 150%;
}

.tag {
    font-family: 'figextrabold';
    background-color: hsl(47, 88%, 63%);
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
}

.description {
    font-size: 16px;
    color: hsl(0, 0%, 42%);
}

.author {
    display: inline;
    font-family: 'figextrabold';
    padding-left: 12px;
}

.author-align {
    display: flex;
    align-items: center;
}

/* link */

a {
    text-decoration: none;
}

a:link {
    color: hsl(0, 0%, 7%);
}

a:hover {
    color: hsl(47, 88%, 63%);
}

/* images */

.top-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.author-img {
    width: 10%;
}

/* utilities */

.attribution {
    font-size: 11px; text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* media queries */